footer.footer 
   .container 
      .row 
          .justify-content-center.pt-2.pb-2 Copyright © 2026. All rights reserved. Designed by 
              a(href="https://www.facebook.com/duyquang.dev" target="_blank" style="color: #e5e7ea; text-decoration: none;") Van Ha
