extends ../../layout/default.pug
include ../../mixins/select-tree.pug
block main
  include ../../mixins/alert.pug
  +alert-error(messages.error)
  if(roles.length===0)
    .alert.alert-warning Chưa có vai trò nào, vui lòng tạo vai trò trước khi tạo tài khoản
  if(role.permission.includes('accounts_create'))
    h1 Thêm mới tài khoản 
    form(action=`${prefixAdmin}/accounts/create` method="POST" enctype='multipart/form-data')
      .mb-3
        label.form-label Full name
        input.form-control(type="text" name="fullname" placeholder="Nhập họ và tên" required)
      .mb-3 
        label.form-label Email
        input.form-control(type="email" name="email" placeholder="Nhập email" required)
      .mb-3 
        label.form-label Password
        input.form-control(type="password" name="password" placeholder="Nhập mật khẩu" required)
      .mb-3 
        label.form-label Phone
        input.form-control(type="text" name="phone" placeholder="Nhập số điện thoại" required)
      .mb-3
        label.form-labelRoleId Phân Quyền
        select.form-select(name="roleId" id="roleId")
          option(value="") -- Chọn vai trò --
          each role in roles
            option(value=role._id) #{role.title}
      .form-group.mb-3(upload-image)
        label.mb-2(for="thumbnail" style='width:100%') Avatar
        input.form-control-file(type="file" name="thumbnail" style='width:100%'  accept='image/*' upload-image-input)
        img.image-preview.d-none(src=''  upload-image-preview)
        button.d-none.mx-2.position-relative(close-image-upload style="top:0" ) X
      .mb-3 
          label.form-label Trạng thái
          .form-control.d-flex.gap-3
            input(type="radio" name="status" value="active" checked) 
            | Hoạt động
            input(type="radio" name="status" value="inactive") 
            | Dừng hoạt động
      button.btn.btn-success(type="submit") Thêm mới
  else
    .alert.alert-danger Bạn không có quyền tạo tài khoản
    script(src='/admin/js/product.js')