extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
block main 
  .container.my-3
    .row 
       .col-12 
          if(!keyword)
            +box-head("Danh sách sản phẩm")
          else
            +box-head("Kết quả tìm kiếm")
    +product-grid(product)
